.flexRowContent--banner-envio{
  background-color: black;
  height: 42px;

} 

/* --- estilo para botones whatsapp--- */
.flexRowContent--bloque-whatsapp-p{
  position: fixed;
    bottom: 5px;/* se cambio la posicion de % a px */
    right: 8px;
    z-index: 100;
    padding: 4px;
    width: 60px;
    padding-left: 0px;
    align-items: center;
}

 

.flexRowContent--s0-textos :global(.vtex-store-link-0-x-link--pdprating){
  margin-bottom: 124px;
}


 
.flexRowContent--about-seccion-4 {
  padding: 64px 48px;
  background-color:  #F2F0F2;
  border-radius: 48px;
  justify-content: space-between;
}

.flexRowContent--about-seccion-4 .stretchChildrenWidth:first-child {
  width: 100% !important;
}

.flexRowContent--about-seccion-4-contenedor .stretchChildrenWidth:first-child{
  width: auto !important;
}

.flexRowContent--about-seccion-4-contenedor :global(.vtex-rich-text-0-x-paragraph--about-seccion-4-item) {
  margin-top: 24px;
  margin-bottom: 0;
}

.flexCol--about-seccion-4-right .flexColChild--about-seccion-4-right:nth-child(4n) :global(.vtex-rich-text-0-x-paragraph--about-seccion-4-item){
  margin-bottom: 223px;
}

.flexRowContent--about-seccion-4-contenedor {
  background-image: url(assets/pdp/about-seccion-4.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}


.flexRowContent--about-seccion-4 :global(.vtex-store-link-0-x-link--s2) {
  margin-top: 0;
}

.flexRowContent--about-seccion-4 :global(.vtex-store-components-3-x-imageElement--p-s6-logos){
  display: block;
  margin: 24px auto 0 auto;
}

.flexRowContent--about-seccion-4-contenedor :global(.vtex-store-components-3-x-imageElement--s2-f1-img) {
  margin-top: 83px;
  margin-bottom: 0;
}

.flexCol--about-seccion-4-right :global(.vtex-store-components-3-x-imageElement--s2-f1-img):first-child {
  margin-top: 44px;
}

.flexCol--about-seccion-4-left .flexColChild--about-seccion-4-left:nth-child(2n) {
  max-width: 352px;
}

.flexRowContent--landing2-seccion-0 {
  background-image: url(assets/pdp/landing2-seccion-0-gb.png);
  border-radius: 24px;
  column-gap: 18px;
  padding-left: 118px;
  padding-top: 41px;
  /*

  background: #EDEDED;

  border-radius: 48px;
  padding-left: 104px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 456px;*/
}

.flexCol--landing2-seccion-0 :global(.vtex-store-components-3-x-logoImage) {
  margin-top: 63px;
}

.flexCol--landing2-seccion-0 :global(.vtex-store-components-3-x-logoContainer) {
  padding: 0;
}

.flexCol--landing2-seccion-0 :global(.vtex-rich-text-0-x-paragraph--about-seccion-0-item) {
  color: #1A1A1A;
}

.flexCol--landing2-seccion-0 :global(.vtex-flex-layout-0-x-flexRowContent--about-seccion-0-items) {
  justify-content: start;
}

.flexCol--landing2-seccion-0 :global(.vtex-store-link-0-x-link--s7) {
  margin-top: 56px;
}

.flexCol--landing2-seccion-0 :global(.vtex-rich-text-0-x-paragraph--s1-3) {
  margin-top: 24px;
}

.flexCol--landing2-seccion-0 :global(.vtex-rich-text-0-x-container--s1-3) {
  justify-content: start;
}



.flexRowContent--about-seccion-0-items .stretchChildrenWidth:first-child {
  background: unset !important;
}

.flexCol--about-seccion-0  :global(.vtex-store-link-0-x-link--s7){
  margin: 56px auto 0 auto;
}

.flexCol--about-seccion-0 :global(.vtex-rich-text-0-x-paragraph--about-seccion-0-2) {
  margin-top:24px;
}



.flexRowContent--v1-s1-contenedor {
  column-gap: 40px;
}

.flexRowContent--v1-s1 {
  padding-left: 47px;
  padding-right: 65px;
}

.flexRowContent--v1-s1-contenedor .stretchChildrenWidth:first-child {
  max-width: 610px;
}

.flexRowContent--v1-s1-contenedor :global(.vtex-rich-text-0-x-container--p-s1-descripcion) {
  box-shadow: 0px 4px 28px 0px #F4EFEE;
}

.flexRowContent--v1-s1-contenedor :global(.vtex-rich-text-0-x-paragraph--p-s1-subtitulo) {
  display: none;
}

.flexRowContent--v1-s1-contenedor :global(.vtex-rich-text-0-x-strong--p-s1-descripcion) {
  display: block;
  margin-bottom: 16px;
}

.flexRowContent--footer-landings-menu {
  column-gap: 24px;
}

.flexRowContent--footer-landings {
  background-color: #1A1A1A;
  padding: 32px 88px 24px 88px;
 justify-content: space-between;
  align-items: center;
}

.flexRowContent--footer-landings :global(.vtex-menu-2-x-styledLinkContent--menu-item){
  color: rgba(255, 255, 255, 0.4);
}


.flexRowContent--about-seccion-0 {
  position: relative;
}

.flexRowContent--about-seccion-0 .stretchChildrenWidth:first-child {
  position: absolute;
  width: 100% !important;
  height: 100%;
}
.flexRowContent--about-seccion-0-items {
  justify-content: center;
  column-gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.flexRowContent--about-seccion-0-items .stretchChildrenWidth:first-child{
  position: unset !important;
    width: unset !important;
    height: unset !important;

}

.flexRowContent--about-seccion-0-items .stretchChildrenWidth:nth-child(2n) {
  margin-right: 16px;
}
.flexRowContent--about-seccion-0-items .stretchChildrenWidth:nth-child(6n) {
  margin-right: 0;
}

.flexRowContent--rating-share {
  margin-bottom: 12px;
  align-items:end;
  column-gap: 10px;
}
.flexRowContent--pdp-button2 :global(.vtex-button),
.flexRowContent--pdp-button :global(.vtex-button) {
  min-height: unset;
  padding: 20px 27px;
  border-radius: 160px;
  background: #F96F62;
  border: none;
}

.flexRowContent--pdp-button2 :global(.vtex-button) {
  padding: 12px 27px;
  max-width: 382px;
}

.flexRowContent--pdp-button2 :global(.vtex-button__label),
.flexRowContent--pdp-button :global(.vtex-button__label) {
  padding: 0 !important;
}
.flexRowContent--pdp-button2 :global(.vtex-button__label)::after,
.flexRowContent--pdp-button :global(.vtex-button__label)::after {
  color:  #FFF;
     font-size: 18px;
    font-family: sf pro display;
    font-weight: 700;
    line-height: 24px;

    content: 'Comprar ahora 😎';
}

.flexRowContent--pdp-button2 :global(.vtex-button__label)::after {
  content: 'Descubre la belleza de tu piel 😉';
  text-transform:none;
}

.flexRowContent--pdp-button2 :global(.vtex-add-to-cart-button-0-x-buttonText),
.flexRowContent--pdp-button :global(.vtex-add-to-cart-button-0-x-buttonText) {
  display: none;
}

.flexRow--about-seccion-4 :global(.vtex-store-components-3-x-container),
.flexRow--landing2-seccion-0 :global(.vtex-store-components-3-x-container),
.flexRow--v1-s1 :global(.vtex-store-components-3-x-container),
.flexRow--footer-landings :global(.vtex-store-components-3-x-container),
.flexRow--about-seccion-0 :global(.vtex-store-components-3-x-container),
.flexRow--product-reviews :global(.vtex-store-components-3-x-container),
.flexRow--product-main :global(.vtex-store-components-3-x-container),
.flexRow--p-s1 :global(.vtex-store-components-3-x-container),
.flexRow--p-s2 :global(.vtex-store-components-3-x-container),
.flexRow--p-s3 :global(.vtex-store-components-3-x-container),
.flexRow--p-s4 :global(.vtex-store-components-3-x-container),
.flexRow--p-s5 :global(.vtex-store-components-3-x-container),
.flexRow--p-s6 :global(.vtex-store-components-3-x-container),
.flexRow--p-s7 :global(.vtex-store-components-3-x-container),
.flexRow--p-s8 :global(.vtex-store-components-3-x-container) {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 104px;
}

.flexRow--s8 :global(.vtex-store-components-3-x-container) {
  margin-bottom: 52px;
}

.flexRow--about-seccion-4 :global(.vtex-store-components-3-x-container) {
  max-width: 1392px;
}

.flexRow--landing2-seccion-0 :global(.vtex-store-components-3-x-container) {
  max-width: 1338px;
  margin-top: 24px;
}

.flexRow--about-seccion-0 :global(.vtex-store-components-3-x-container) {
  margin-top: 0;
}

.flexRow--product-main :global(.vtex-store-components-3-x-container) {
  margin-top: 56px;
}

.flexRowContent--product-main {
  column-gap: 142px;
  /* padding-left: 24px;
  padding-right: 142px; */
  padding-left: 8%;
  padding-right: 8%;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-imageElement--p-s6-logos) {
  margin:  16px auto 0 auto;
  display: block;
}

.flexRowContent--p-s1  {
  background-color: #F2F0F2;
  padding: 88px;
  column-gap: 40px;
  border-radius: 48px;
}

.flexRowContent--p-s1 .stretchChildrenWidth:first-child {
  max-width: 610px;
}

.flexRowContent--p-s2 {
  padding-left: 24px;
  padding-right: 24px;
}

.flexRowContent--p-s2-textos {
  column-gap: 24px;
}

.flexRowContent--v1-s2-textos .flexCol--p-s2-texto-contenedor {
  padding-bottom: 32px;
}

.flexRowContent--v1-s2-textos {
  column-gap: 24px;
}

.flexRowContent--v1-s2-textos :global(.vtex-store-components-3-x-imageElement--p-s1-1) {
  margin-right: 0;
  margin-top: -100px;
  margin-left: -20px;
}

.flexRowContent--v1-s2-textos  .stretchChildrenWidth{
  margin-top: 65px;
}

.flexCol--p-s2-texto-contenedor {
  box-shadow: 0px 4px 28px #F4EFEE;
  padding: 32px 32px 0 32px;
  border-radius: 24px;

}

.flexColChild--p-s2-texto-contenedor:nth-child(3n) {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 100% !important;
}

.flexRowContent--p-s3 {
  column-gap: 91px;
  justify-content: center;

}

.flexRow--p-s4 :global(.vtex-store-components-3-x-container) {

  overflow: hidden;
}


.flexRowContent--p-s4 {
  column-gap: 104px;
    border-radius: 24px;
    background: #EDEDED;
    background-image: url(assets/pdp/p-s4.png);
    border-radius: 48px;
    padding-left: 104px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 456px;
}

.flexRow--p-s4 :global(.vtex-store-components-3-x-container) {
  max-width: 1392px;

}


.flexRowContent--p-s6 {
  column-gap: 104px;
    border-radius: 24px;
    background: #EDEDED;
    background-image: url(assets/pdp/p-s6-b.png);
    border-radius: 48px;
     justify-content: end;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 602px;
}


.flexRow--p-s6 :global(.vtex-store-components-3-x-container) {
  max-width: 1392px;

}
.flexCol--p-s6 {
  max-width: 464px;
  justify-content: center;
}

.flexRowContent--p-s6 .stretchChildrenWidth:first-child {
  justify-content: end;
}

.flexRowContent--pdp-button2 .stretchChildrenWidth:first-child{
  justify-content: start;
}

/*
.flexColChild--p-s5:nth-child(3n) {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  row-gap: 24px;
}*/

.flexRowContent--p-s5 .stretchChildrenWidth {
  margin: 0 auto;
  max-width: 770px;
}





.flexRowContent--p-s8{
  background-color: #717171;
  column-gap: 24px;

}

.flexRowContent--p-s8-i {
  column-gap: 16px;
  display: grid;
  grid-template-columns: 64px 1fr;
  padding: 48px 100px;
  height: 100%;
}

.flexRowContent--p-s8-i .stretchChildrenWidth:first-child {
  align-items: center;
}


.flexRow--menu-row :global(.vtex-store-components-3-x-container) {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 104px;
  padding-bottom: 51px;
  background-color: #1A1A1A;
margin-top: 36px;
}
.flexRowContent--payment-methods {
  width: fit-content;
  column-gap: 24px;
  margin-top: 24px;
}


.flexRowContent--p-s7 {
  column-gap: 64px;
  display: grid;
  grid-template-columns: 447px 1fr;
  padding: 0 24px;
}

.flexRowContent--menu-row {
  padding: 0;
}



.flexRow--s1 :global(.vtex-store-components-3-x-container),
.flexRow--s2 :global(.vtex-store-components-3-x-container),
.flexRow--s3 :global(.vtex-store-components-3-x-container),
.flexRow--s5 :global(.vtex-store-components-3-x-container),
.flexRow--s6 :global(.vtex-store-components-3-x-container),
.flexRow--s8 :global(.vtex-store-components-3-x-container) {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 104px;
}
.flexRow--s0 :global(.vtex-store-components-3-x-container),
.flexRow--s4 :global(.vtex-store-components-3-x-container),
.flexRow--s7 :global(.vtex-store-components-3-x-container) {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 104px;
}

.flexRow--s0 :global(.vtex-store-components-3-x-container) {
  margin-top: 0 !important;
}

.flexCol--s0 {
  position: relative;
}

.flexRow--s0-textos {
  display: flex;
}

.flexRowContent--s0-textos {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.flexCol--s0 .flexColChild:first-child{
  height: 100% !important;
    position: absolute;
    width: 100%;
  display: flex;
    justify-content: center;
}

.flexCol--s0-textos {
  justify-content: end;
}

.flexRowContent--s5-quote {
  position: relative;
}
.flexRowContent--s5-quote .stretchChildrenWidth:first-child {
  position: absolute;
  height: 100%;
}

.flexRowContent--s5-quote .stretchChildrenWidth:nth-child(2n){
  margin-left: -22px;
}

.flexRowContent--s4 {
  background: linear-gradient(180deg, #F2F0F2 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 48px 48px 0px 0px;
}
/*
.flexRowContent--s4-comentario:first-child {
  margin-left: 24px;
}
*/



.flexCol--s4-comentario-textos  {
  width: 100% !important;
  padding-right: 24px;
}



.flexRowContent--s4-comentarios {
  margin-top: 48px;
  gap: 16px;


}
.flexRowContent--s4-comentarios .stretchChildrenWidth {
  background-color: white;
  border-radius: 24px;
}

.flexRowContent--s4-comentario {
  /*width: 510px;
  height: 380px;

  display: grid;
  grid-template-columns: 168px auto;*/
  height: 100%;
  column-gap: 24px;
  border-radius: 24px;
    border: 1px solid #F4EFEE;
    background-color: white;
}


.flexCol--s1-img {
  position: relative;
}
.flexCol--s1-img .flexColChild:first-child {
    height: 100% !important;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
  }

  .flexCol--s7 {
    justify-content: center;
  }
  .flexRowContent--s7 {
    column-gap: 52px;
    max-width: 1155px;
    margin: 0 auto;

  }

  .flexCol--s5 .flexColChild:first-child {
    justify-content: flex-start;
    align-items: center;
  }

  .flexCol--s5-textos {
    margin-left: 80px;
    max-width: 656px;
    justify-content: center;
  }



  .flexRowContent--s1{
  background: linear-gradient(141.24deg, #FDFDFD 0%, #F2F2F2 100%);
  border: 1px solid #F2F0F2;
}


.flexRowContent--s8 .stretchChildrenWidth:nth-child(2n){
  padding: 94px 56px 94px 0;

}
.flexRowContent--s8 {
  column-gap: 104px;
  justify-content: flex-start;
  background-color: #F2F0F2;
  border-radius: 48px;
}



.flexCol--s5 {
  position: relative;
}

.flexColChild--s5:first-child {
  position: absolute;
  width: 100%;
  height: 100% !important;
  display: flex;
  justify-content: center;
}



.flexCol--s6 {
  position: relative;
}
.flexColChild--s6:first-child{
  position: absolute;
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: center;
}
.flexCol--s1-textos {
  justify-content: center;
}
.flexRowContent--s3 {
  column-gap: 48px;
}
.flexRowContent--s1 {
  column-gap: 48px;
}
.flexRow--s3-f1 {
  margin-top: 36px;
}
.flexRowContent--s1  {
  border-radius: 48px;

}
.flexRowContent--s3-f1 .stretchChildrenWidth {
  border-radius: 34px;
  border: 2px solid #F1F1F1;
  z-index: 3;
}

.flexRowContent--s3-f1-i-left .stretchChildrenWidth,
.flexRowContent--s3-f1-i-right .stretchChildrenWidth{
  width: 100% !important;
  border: none !important;
}

.flexRowContent--s3-f1-i-left :global(.vtex-store-components-3-x-imageElement--s3-f1-i-img) {
  border-top-left-radius: 34px;
  height: 282px;
  object-fit: cover;
}
.flexRowContent--s3-f1-i-right :global(.vtex-store-components-3-x-imageElement--s3-f1-i-img) {
  border-top-right-radius: 34px;
  height: 282px;
  object-fit: cover;
}

.flexRowContent--s3-c .stretchChildrenWidth {
  border: none !important;
}

.flexRowContent--s3-f1 {
  gap: 24px;
}

.flexRowContent--s2-f2 .stretchChildrenWidth {
  padding: 24px;
  background-color: white;
  border-radius: 24px;
}
.flexRowContent--s2 {

  background: #F2F0F2;
  border-radius: 48px;
  padding: 104px 56px;
}
.flexRowContent--s2-f2 {
  gap: 32px;
  margin-top: 32px;
}
.flexRowContent--s2-f1 {
  column-gap: 32px;
}






.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #F2F0F2;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #F2F0F2;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #0F3E99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}


.flexRowContent--footer-desktop-tight {
  column-gap: 16px;

}

.flexRowContent--footer-desktop-tight .stretchChildrenWidth {

  width: 206px !important;
}

.flexRow--main-header {
  background-color: #ffffff;
}
.flexRowContent--main-header {
  padding : 16px 8%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #ffffff;
  background: #ffffff;
}

.flexRowContent--free-shipping-row  {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.flexRowContent--free-shipping-right-box {
  flex-direction: column;
}
:global(.vtex-rich-text-0-x-paragraph--free-shipping-text-top) {
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
:global(.vtex-rich-text-0-x-paragraph--free-shipping-text-bottom) {
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
:global(.vtex-rich-text-0-x-paragraph--free-shipping-text-bottom) {
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 4px;
}
:global(.vtex-rich-text-0-x-paragraph--free-shipping-text-bottom) :global(.vtex-rich-text-0-x-strong--free-shipping-text-bottom) {
  color: #009082;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 640px) {

  .flexCol--free-shipping-right {
    margin-left: 15px;
  }

  :global(.vtex-rich-text-0-x-paragraph--free-shipping-text-bottom) {
    display: flex;
    flex-direction: column;
  }

  .flexCol--about-seccion-4-right .flexColChild--about-seccion-4-right:nth-child(4n) :global(.vtex-rich-text-0-x-paragraph--about-seccion-4-item) {
    margin-bottom: 0;
  }

  .flexRowContent--about-seccion-4 :global(.vtex-store-link-0-x-link--s2) {
    margin-top: 48px;
  }

  .flexRowContent--about-seccion-4 {
    padding: 64px 16px;
    background-image: none;
  }

  .flexRowContent--about-seccion-4-contenedor  {
    background-image: none;
  }

    .flexRowContent--about-seccion-4-contenedor :global(.vtex-store-components-3-x-imageElement--s2-f1-img) {
      margin-top: 48px;
    }
    .flexCol--about-seccion-4-left .flexColChild--about-seccion-4-left:nth-child(2n) {
      max-width: 100%;
    }

  .flexRowContent--v1-s1 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .flexCol--landing2-seccion-0 :global(.vtex-store-components-3-x-logoImage) {
    margin: 32px auto 0 auto;
    display: block;
  }
  .flexRow--landing2-seccion-0 :global(.vtex-store-components-3-x-container) {
    padding-left: 16px;
    padding-right: 16px;
  }
.flexCol--landing2-seccion-0 .flexRowContent--about-seccion-0-items {
  justify-content: center;
}

.flexCol--landing2-seccion-0 .flexRowContent--about-seccion-0-items {
  margin-top: 16px;
}

.flexCol--landing2-seccion-0 :global(.vtex-store-link-0-x-link--s7) {
  margin-bottom: 0;
}

.flexRowContent--landing2-seccion-0 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
  background-color: #fdecea;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  overflow: hidden;
}

.flexCol--landing2-seccion-0 :global(.vtex-store-components-3-x-imageElement--landing2-seccion-0) {
  width: 523px;
  height: 703px;
  object-fit: cover;
}

.flexRowContent--v1-s2-textos :global(.vtex-store-components-3-x-imageElement--p-s1-1) {
    width: 101px;
    height: 101px;
    margin-left: -2px;
  }

     .flexRowContent--v1-s2-textos :global(.vtex-rich-text-0-x-paragraph--p-s2-textos-titulo) {
       margin-top: 12px;
     }

    .flexRowContent--v1-s2-textos .stretchChildrenWidth {
      margin-top: 85px;
    }

  .flexRowContent--footer-landings {
    padding: 32px 24px 24px 24px ;
  }
  .flexRowContent--footer-landings-menu {
    margin-top: 24px;
  }

.flexRow--footer-landings-menu {
  background-color: #1A1A1A;
}
  .flexRowContent--about-seccion-0-items {
    margin-top: 38px;
  }

.flexRowContent--about-seccion-0 .stretchChildrenWidth:first-child {
    background: rgb(12 12 12 / 47%);
  }

.flexRowContent--rating-share {
  margin-top: 56px;
}

.flexRow--product-main :global(.vtex-store-components-3-x-container){
  margin-top: 0;
}

.flexRowContent--product-main {
    padding-left: 16px;
    padding-right: 16px;
  }
.flexRowContent--p-s1 {
  padding-left: 24px;
  padding-right: 24px;
}

.flexRowContent--p-s2 {
  padding-left: 16px;
    padding-right: 16px;
}
.flexColChild--p-s2-texto-contenedor:nth-child(2n) {
  z-index: 2;
}

.flexRowContent--p-s3 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.flexRowContent--p-s4 {
  padding-left: 0;
  display: block;

}
.flexCol--p-s4 {
  padding: 64px 32px ;
}

.flexRowContent--p-s5 {
  padding-left: 16px;
  padding-right: 16px;
}


.flexCol--p-s6 {
  padding: 64px 24px 72px 24px;
}

.flexRowContent--p-s6 {
  display: block;
  background-image: unset;
  background: #feedeb;
}


.flexRowContent--p-s7 {
  display: block;
}

.flexRowContent--p-s8-i {
  padding: 48px 16px 16px 16px;
  background-color: #2e2e2e;
}

.flexRowContent--p-s8-i {
  grid-template-columns: 48px 1fr;
}

.flexRowContent--p-s8 .stretchChildrenWidth:nth-child(2n) .flexRowContent--p-s8-i {
  padding-top: 16px;
  padding-bottom: 48px;
}




  .flexRowContent--main-header {
    padding: 16px;
  }

  .flexRowContent--footer-desktop-tight .stretchChildrenWidth {

      width: auto !important;
    }
  .flexRowContent--footer-desktop-tight {
     display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      row-gap: 48px;
      margin-top: 48px;
  }

  .flexRowContent--payment-methods {
    margin: 16px auto 0 auto;

  }
  .flexRow--menu-row :global(.vtex-store-components-3-x-container) {
       padding-left: 24px;
      padding-right: 24px;
      padding-top: 48px;
      padding-bottom: 42px;

    }

  .flexRowContent--s0-textos {
    justify-content:center;
  }


  .flexRowContent--s1 .stretchChildrenWidth:nth-child(2n){
    width: 100%;
      grid-column-end: 3;
      grid-column-start: 1;
  }
  .flexRowContent--s1 .stretchChildrenWidth:nth-child(3n) {
    /*width: 100%;
      grid-column-start: 2;
      grid-row-start: 1;*/
      display: none;
  }
  .flexCol--s1-textos {
    padding: 42px 16px;
  }

  .flexRow--s2 :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
  .flexRowContent--s2 {
    padding: 104px 16px;
  }
  .flexRowContent--s2-f2 {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--s2-f2 :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    padding:24px 0;
  }
  .flexRow--s3 :global(.vtex-store-components-3-x-container) {
    padding-left: 16px;
    padding-right: 16px;
  }

.flexRowContent--s3-f1 {
  display: flex;
  flex-direction: column;
}

.flexCol--s3-f1-i-left{
  overflow: hidden;

}
.flexCol--s3-f1-i-right {
  overflow: hidden;
  border-top-right-radius: 34px;
}

.flexColChild--s3-f1-i-left,
.flexColChild--s3-f1-i-right {
  overflow: hidden;
}
.flexRowContent--s4 {
  padding: 104px 20px 0 20px;
}
  .flexRowContent--s4-comentario{
    display: block;
    width: auto;
    height: auto;
  }
  .flexCol--s4-comentario-textos {
    padding-left: 24px;
    padding-bottom: 32px;
  }
  /*
  .flexRowContent--s4-comentario:first-child {
    margin: 0;
  }
*/
  .flexRowContent--s4-comentarios {
    display: flex;
    flex-direction: column;
    margin: 0;
}

    .flexCol--s5 {
      position: unset;
    }
  .flexColChild--s5:first-child {
    position: unset;
  }
  .flexCol--s5-textos {
    margin-left: 0;
  }

  .flexRow--s6 :global(.vtex-store-components-3-x-container) {
    padding-left: 16px;
    padding-right: 16px;
  }
.flexRow--s5 :global(.vtex-store-components-3-x-container) {
  background-color: #f2f0f2;
  padding-left: 0;
  padding-right: 0;
  padding-top: 64px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

}
.flexCol--s5-textos {
  padding-left: 32px;
  padding-right: 32px;
}

  .flexRowContent--s5-quote .stretchChildrenWidth:nth-child(2n) {
    justify-content: start;
    margin-top: -30px;
  }

  .flexRow--s7 :global(.vtex-store-components-3-x-container) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .flexRow--s8 :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRowContent--s8 .stretchChildrenWidth:nth-child(2n) {
    padding: 48px 24px 64px 24px;
  }

}

.flexRow--contenedorpagina :global(.vtex-store-components-3-x-container) {
  max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
.flexCol--header-desktop-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.flexColChild--header-desktop-right :global(.vtex-button) {
  font-size: initial;
  margin-left: 10px;
}
.flexColChild--header-desktop-right :global(.vtex-button):hover {
  background-color: initial;
}
.flexColChild--header-desktop-right :global(.vtex-minicart-2-x-cartIcon) {
  overflow: initial !important;
  width: 19px;
  height: 17px;
  transform: scale(1.3) !important;
}
  @media screen and (max-width: 1050px){/* se cambio maximo para entrar en el rango del ipad */
    /* --- estilo para botones whatsapp--- */
    .flexRowContent--bloque-whatsapp-p{
      position: fixed;
        bottom: 21px;
        right: 3px;
        z-index: 100;
        padding: 4px 4px 4px 4px;
        width: 60px;
        padding-left: 0px;
    }
    }
    @media screen and (max-width: 550px){
      .flexRowContent--bloque-whatsapp-p{
        position: fixed;
          bottom: 5px;
          right: 5px;
          z-index: 100;
          padding: 4px 4px 4px 4px;
          width: 60px;
          padding-left: 0px;
      }
    }