.openIconContainer {
  display: flex;
  align-items: center;
  padding: 0;
}
.childrenContainer--drawer-mobile {
  /* padding: 2rem 1.5rem; */
  flex-direction: column;
}
.childrenContainer--drawer-mobile :global(.vtex-store-components-3-x-logoLink) {
  position: absolute;
  top: 0;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0px !important;
}
.childrenContainer--drawer-mobile :global(.vtex-store-components-3-x-logoImage) {
  width: 7rem;
}
.drawer {
  z-index: 90001;
}

.closeIconContainer--drawer-mobile {
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.drawer--drawer-mobile {
  background-color: #ffffff;
  width: 85% !important;
}
.overlay--drawer-mobile {
  background-color: #000000;
  z-index: 1001;
}
.closeIconButton--drawer-mobile {
  z-index: 1;
}