
/* ---Estilo boton Whatsapp--- */

.buttonLink--link-whats-empresas-p{
  background: #fff;
  border-radius: 99rem 0% 0% 99rem;
  width: 100%;
}
.label--link-whats-empresas-p{
  font-size: 13px;
  color: black;
  text-transform: none;
  padding-left: 10px;
}

.buttonLink--link-whats-empresas-p:hover{
  background: #fff;
}

/**/
:global(.vtex-numeric-stepper__plus-button-container) :global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button-container) :global(.vtex-numeric-stepper__minus-button) {
  border-radius: 160px;
  height: 58px;
  border-color: #1C1C1E;
}

:global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__input) {
  border-left: none;
  border-right: none;
  height: 58px;
  border-color:  #1C1C1E;
  font-size: 1.2rem;
}

:global(.vtex-numeric-stepper__minus-button__text),
:global(.vtex-numeric-stepper__plus-button__text) {
  color:#1C1C1E;
  font-size: 1.2rem;
}

.label--pdprating {
  display: none;
}
.link--pdprating {
  text-decoration: none;
  color: black;
}
.link--s1-link {
  height: fit-content;
    margin-bottom: 45px;
    border-radius: 160px;
    color: #E8EFF4;
    text-decoration: none;
    border: 1px solid #E8EFF4;
    padding: 13px 50px;
    font-family: sf pro display;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.link--s2 {
  width: 289px;
  height: 64px;
  background: #F96F62;
  border-radius: 160px;
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.label--s2 {
  /*font-family: 'SF Pro Display';*/
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: white;

}

.link--fs2 {
  width: 95%;
  height: 64px;
  background: #F96F62;
  border-radius: 160px;
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.label--fs2 {
  /*font-family: 'SF Pro Display';*/
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: white;

}

.link--ff {
  width: 95%;
  height: 64px;
  background: #F96F62;
  border-radius: 160px;
  display: flex;
  margin: 45px auto;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom:0;
}

.label--ff {
  /*font-family: 'SF Pro Display';*/
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: white;

}

.link--s7 {
  width: 289px;
  height: 64px;
  background: #F96F62;
  border-radius: 160px;
  display: flex;

  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.label--s7 {
  /*font-family: 'SF Pro Display';*/
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;

}

.link--s8 {
  width: 289px;
  height: 64px;
  background: #F96F62;
  border-radius: 160px;
  display: flex;

  text-decoration: none;
  justify-content: center;
  align-items: center;

}


.label--s8 {
  /*font-family: 'SF Pro Display';*/
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;

}

.link--p-s6 {
  width: 436px;
  height: 58px;
  background: #F96F62;
  border-radius: 160px;
  display: flex;

  text-decoration: none;
  justify-content: center;
  align-items: center;

}

.label--p-s6 {
  /*font-family: 'SF Pro Display';*/
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;

}

@media screen and (max-width: 640px) {

  .link--s2 {
    width: 100%;
  }
  .link--ff {
    width: 100%;
  }
  
  .buttonLink--link-whats-empresas{
    font-size: 0.60rem;
  }
  .buttonLink--link-whats-empresas-p{
    font-size: 0.5rem;
  }
  .buttonLink--link-whats-empresas-p:hover{
    background: #fff;
    border: none;
  }
  .buttonLink--link-whats-empresas:hover{
    background: #fff;
    border: none;
  }

  .label--link-whats-empresas-p{
    font-size: 10px;
    text-transform: none;
  }
  .label--link-whats-empresas{
    font-size: 10px;
    text-transform: none;
    padding: 0px;
  }
  .link--s1-link {
      display: none;
  }

  .link--s7 {
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .link--s8 {
    margin: 0 auto;
  }

  .link--p-s6 {
    width: 100%;
  }
}

